# ignore build directory
build/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
bfg-keywords.txt
.DS_Store

# ignore packages
super-map-block-*.tgz

# compiled translation files
# xxx-en_US-<MD5 Hash>.json
languages/*-??_??-????????????????????????????????.json
# compiled .po files
languages/*.mo